
# dependencies
node_modules
node_modules.zip
node_modules.rar
*./node_modules/*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.vscode

/share/*.secret.js